

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* text-align: left; */
  padding: 10px 25px;
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0;
  background-color: whitesmoke;
  z-index: 100;
}

#navItem {
  display: flex;
}